body {
  font-family: 'Josefin Slab', serif;
  color: #447799;
  font-weight: 300;
}

.text-muted {
  color: #6699AA;
}

.text-thin {
  font-weight: 100;
}

.title-super {
  font-size: 50px;
}

.title-logo {
  margin-top: 20px;
}

hr {
  border: none;
  height: 1px;
  color: #447799;
 /* old IE */
  background-color: #6699AA;
 /* Modern Browsers */;
}